.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  .modal-container {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30rem;
    max-height: calc(100% - 1rem);
    border-radius: 6px;
  }
}

.modal-header {
  height: 44px;
}

.modal-header.dark {
  background-color: #424242;
}

.modal-header.dark .close-icon {
  stroke: white;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  line-height: 1;
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.modal-close-button.left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  line-height: 1;
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: #424242;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding: 0 1.5em 1.5em 1.5em;
}

/*
Element hidden for accessibility:
https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont
*/
.hide-for-accessibility {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

